
<div class="row">
    <div class="column">
        <img src="./assets/999.jpg" style="width:100%">
        <img src="./assets/888.jpg" style="width:100%">
        <img src="./assets/777.jpg" style="width:100%">
        <img src="./assets/666.png" style="width:100%">
        <img src="./assets/555.png" style="width:100%">
    </div>
    <div class="column">
        <img src="./assets/101.jpg" style="width:100%">
        <img src="./assets/102.jpg" style="width:100%">
        <img src="./assets/103.jpg" style="width:100%">
        <img src="./assets/104.jpg" style="width:100%">
        <img src="./assets/111.png" style="width:100%">
        <img src="./assets/222.png" style="width:100%">
        <img src="./assets/333.png" style="width:100%">
    </div>
    <div class="column">
        <img src="./assets/999.jpg" style="width:100%">
        <img src="./assets/888.jpg" style="width:100%">
        <img src="./assets/777.jpg" style="width:100%">
        <img src="./assets/666.png" style="width:100%">
        <img src="./assets/555.png" style="width:100%">
    </div>
    <div class="column">
        <img src="./assets/101.jpg" style="width:100%">
        <img src="./assets/102.jpg" style="width:100%">
        <img src="./assets/103.jpg" style="width:100%">
        <img src="./assets/104.jpg" style="width:100%">
        <img src="./assets/111.png" style="width:100%">
        <img src="./assets/222.png" style="width:100%">
        <img src="./assets/333.png" style="width:100%">

    </div>
</div>
<div class="bg-text">
    מתכונים ב-10 דקות" הוא אתר מתכונים בו תוכלו למצוא מתכונים קלים להכנה, פשוטים ומהירים שניתן להכין עד 10 דקות הכנה (לא כולל זמן אפייה ובישול אם יש צורך בכך). באתר תוכלו למצוא גרסאות מהירות ופשוטות למתכונים מוכרים, מבלי להתפשר על הטעם. מתאים לבשלנים מתחילים וגם מתקדמים. אז אם אתם מחפשים מתכון קל, מהיר וטעים – הגעתם למקום הנכון.
        
</div>‏
